
<div class=="center">
        <div class="container">
            <div class="row" ng-show="!userFound">
                <div class="col-md-6 col-md-offset-3 well offset4">
                        <h2>Login</h2>
                        <div id="g-signin2" style="width: 200px; margin: 20px auto 20px auto;"></div>
                        <button id="signout" ng-click="signOut()">Signout</button>
                        <button id="disconnect" ng-click="disconnect()">Disconnect</button>
                </div>
            </div>
            <div class="row"> <h2>Testing </h2></div>
            <div class="row">
                    <div ng-include="url.templateUrl" ng-show="userFound" style="display:inline;"></div>
                    <div style="position: relative">
                            <div class="loading-icon">
                                <span class="loader"><span class="loader-inner"></span></span>
                                <label class="loadingText">Loading. Please be patient.</label>
                            </div>
                            <br />
                            <br />
                            <br />
                            <br />
                      </div>
                    <h1 class="h2-style">Welcome</h1>
                    <div id="user-details">
                            <table>
                              <tr>
                                <td><img ng-show="user.photo" ng-src="{{ user.photo }}"></td>
                                <td>&nbsp;</td>
                              </tr>
                              <tr ng-show="user.photo">
                                <td>Photo URL: </td>
                                <td>{{ user.photo }}</td>
                              </tr>
                              <tr ng-show="user.id">
                                <td>User ID: </td>
                                <td>{{ user.id }}</td>
                              </tr>
                              <tr ng-show="user.fullName">
                                <td >Full Name: </td>
                                <td>{{ user.fullName }}</td>
                              </tr>
                              <tr ng-show="user.firstName">
                                <td>First Name: </td>
                                <td>{{ user.firstName }}</td>
                              </tr>
                              <tr ng-show="user.lastName">
                                <td>Last Name: </td>
                                <td>{{ user.lastName }}</td>
                              </tr>
                              <tr ng-show="user.email">
                                <td>Email: </td>
                                <td>{{ user.email }}</td>
                              </tr>
                              <tr ng-show="user.domain">
                                <td>Domain: </td>
                                <td>{{ user.domain }}</td>
                              </tr>
                              <tr ng-show="user.idToken">
                                <td>ID Token: </td>
                                <td>{{ user.idToken }}</td>
                              </tr>
                              <tr ng-show="user.expiresAt">
                                <td>Expires At: </td>
                                <td>{{ user.expiresAt }}</td>
                              </tr>
                            </table>      
                          </div>
            </div>
        </div>
</div>
